antpy==0.0.2
antspyx==0.3.4
asgiref==3.5.2
certifi 
charset-normalizer==2.1.1
chart-studio==1.1.0
connected-components-3d==3.10.5
csbdeep==0.7.3
cycler 
dill==0.3.6
Django==4.1.3
fonttools==4.25.0
fslpy==3.10.0
gevent==22.10.2
greenlet==2.0.1
h5py==3.7.0
idna==3.3
imageio==2.21.2
joblib==1.1.0
kiwisolver 
kornia==0.6.7
llvmlite==0.39.1
matplotlib 
MedPy==0.4.0
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
monai==1.0.0
munkres==1.1.4
networkx==2.8.6
nibabel==4.0.2
numba==0.56.2
numpy 
nvidia-ml-py==11.515.75
packaging 
pandas==1.4.4
patsy==0.5.3
Pillow==9.2.0
plotly==5.11.0
ply==3.11
POT==0.8.2
pynndescent==0.5.7
pyparsing 
PyQt5-sip==12.11.0
python-dateutil 
pytz==2022.2.1
PyWavelets==1.3.0
PyYAML==6.0
requests==2.28.1
retrying==1.3.3
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
SimpleITK==2.2.0
sip 
six 
sklearn==0.0
sqlparse==0.4.3
stardist==0.8.3
statsmodels==0.13.5
tenacity==8.1.0
threadpoolctl==3.1.0
tifffile==2022.8.12
toml 
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.11.1
torchvision==0.13.1+cu113
tornado 
tqdm 
typing_extensions==4.3.0
umap-learn==0.5.3
urllib3==1.26.12
webcolors==1.12
zope.event==4.5.0
zope.interface==5.5.1
